* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #18181b;
}

@media only screen and (min-width: 1024px) {
    button {
        font-size: 1.125rem;
    }

    h1 {
        padding-top: 2rem;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    html {
        padding-bottom: 2rem;
    }

    input {
        font-size: 1rem;
        padding: 0.5rem;
    }

    label {
        font-size: 1.125rem;
        margin-top: 1rem;
    }

    .create-account-form {
        margin-top: 1rem;
        padding: 1rem;
    }

    .create-account-form button {
        margin: 1rem auto 0 auto;
        width: 16rem;
        padding: 0.5rem 1rem;
    }

    .error {
        font-size: 1.125rem;
        margin-top: 2rem;
        padding: 1rem;
    }

    .error-span {
        padding-right: 1rem;
    }

    .input-label-container {
        gap: 0.5rem;
    }

    .welcome {
        padding: 2rem;
        margin: 2rem auto 0 auto;
    }
}

@media only screen and (max-width: 1024px) {
    button {
        font-size: 1.125rem;
    }

    h1 {
        padding-top: min(2vw, 2rem);
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    input {
        font-size: 1rem;
        padding: 0.5rem;
    }

    label {
        font-size: 1.125rem;
        margin-top: min(1vw, 1rem);
    }

    .create-account-form {
        margin-top: max(1vw, 1rem);
        padding: max(1vw, 1rem);
    }

    .create-account-form button {
        margin: min(2vw, 2rem) auto 0 auto;
        width: 60%;
        padding: min(1vw, 1rem) min(0.5vw, 0.5rem);
    }

    .error {
        font-size: min(4vw, 1.125rem);
        margin-top: min(4vw, 2rem);
        padding: min(2vw, 1rem);
    }

    .error-span {
        padding-right: min(1vw, 1rem);
    }

    .input-label-container {
        gap: min(1vw, 0.5rem);
    }

    .welcome {
        padding: min(4vw, 2rem);
        margin: min(4vw, 2rem) auto 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0 max(2vw, 1rem);
    }

    button {
        font-size: 1.125rem;
    }

    h1 {
        padding-top: min(3.75vw, 1rem);
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 0.25rem;
        margin-top: 0.5rem;
    }

    input {
        font-size: 1rem;
        padding: min(1vw, 0.5rem);
    }

    label {
        font-size: 1.125rem;
        margin-top: max(1vw, 0.5rem);
    }

    .create-account-form {
        margin-top: min(4vw, 1.5rem);
        padding: min(4vw, 1.5rem);
    }

    .create-account-form button {
        margin: min(3.75vw, 1rem) auto 0 auto;
        width: min(60%, 16rem);
        padding: min(1vw, 0.5rem);
    }

    .error {
        font-size: 1.125rem;
        margin-top: min(4vw, 2rem);
        padding: min(2vw, 1rem);
    }

    .error-span {
        padding-right: min(1vw, 0.5rem);
    }

    .input-label-container {
        gap: min(1vw, 0.5rem);
    }

    .welcome {
        padding: min(4vw, 2rem);
        margin: min(4vw, 2rem) auto 0 auto;
    }
}

@media only screen and (max-width: 384px) {
    body {
        margin: 0 max(4vw, 0.5rem);
    }

    button {
        font-size: min(8vw, 1rem);
    }

    h1 {
        padding-top: min(8vw, 1rem);
        font-size: min(12vw, 1.5rem);
    }

    h2 {
        font-size: min(9vw, 1.125rem);
    }

    h3 {
        font-size: min(7vw, 0.875rem);
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
    }

    input {
        font-size: min(7vw, 0.875rem);
        padding: min(2vw, 0.25rem);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    label {
        font-size: min(8vw, 1rem);
        margin-top: max(4vw, 0.5rem);
    }

    .create-account-form {
        margin-top: min(8vw, 1rem);
        padding: min(8vw, 1rem);
    }

    .create-account-form button {
        margin: min(8vw, 1rem) auto 0 auto;
        width: min(100%, 8rem);
        padding: min(2vw, 0.25rem);
    }

    .error {
        font-size: min(8vw, 1rem);
        margin-top: min(8vw, 1rem);
        padding: min(4vw, 0.5rem);
    }

    .error-span {
        padding-right: max(2vw, 0.25rem);
    }

    .input-label-container {
        gap: max(2vw, 0.25rem);
    }

    .welcome {
        padding: min(8vw, 1rem) min(4vw, 0.5rem);
        margin: min(8vw, 1rem) auto 0 auto;
    }
}

html {
    max-width: 512px;
    min-height: 100vh;
    background: linear-gradient(180deg, #93c5fd, #bfdbfe);
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: auto;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: 500;
    text-align: center;
}

input {
    border-radius: 8px;
    border: none;
    outline: #19191c solid 1px;
    cursor: text;
    background-color: #fefefe;
}

input:hover:not(:disabled) {
    cursor: pointer;
    background-color: #d6d6da;
}

input:active:not(:disabled) {
    background-color: #bcbcc3;
    outline: #55555f solid 2px;
}

input:focus-visible {
    outline: #19191c solid 2px;
}

input:disabled {
    cursor: not-allowed;
    outline: none;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #dadadd;
}

.create-account-form h2 {
    margin: auto;
}

.create-account-form button {
    border-radius: 32px;
    border: none;
    outline: #19191c solid 1px;
}

.create-account-form button:hover:not(:disabled) {
    cursor: pointer;
    background-color: #d6d6da;
}

.create-account-form button:active:not(:disabled) {
    background-color: #bcbcc3;
    outline: #55555f solid 2px;
}

.create-account-form button:focus-visible {
    outline: #19191c solid 2px;
}

.create-account-form button:disabled {
    cursor: not-allowed;
    outline: #c5c5cc solid 2px;
}

.error {
    background-color: rgba(254, 254, 254, 0.75);
    font-size: smaller;
    outline: #f80101 solid 2px;
}

.error-span {
    color: #f80101;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-label-container {
    display: flex;
    flex-direction: column;
}

.required {
    color: #f80101;
}

.welcome {
    background-color: #e3e3e6;
    border-radius: 16px;
    text-align: center;
}
