* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #18181b;
}

html {
    min-width: 384px;
    max-width: 512px;
    height: 100vh;
    background: linear-gradient(180deg, #93c5fd, #bfdbfe);
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

h1 {
    padding-top: 16px;
    margin: auto;
}

input {
    border-radius: 8px;
    padding: 4px;
    border: none;
    outline: #19191c solid 1px;
    cursor: text;
    background-color: #fefefe;
}

input:hover:not(:disabled) {
    cursor: pointer;
    background-color: #d6d6da;
}

input:active:not(:disabled) {
    background-color: #bcbcc3;
    outline: #55555f solid 2px;
}

input:focus-visible {
    outline: #19191c solid 2px;
}

input:disabled {
    cursor: not-allowed;
    outline: #c5c5cc solid 0px;
}

label {
    margin-top: 8px;
}

span {
    color: #f80101;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 4px;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: #e3e3e6;
    margin-top: 16px;
    padding: 16px;
}

.create-account-form h2 {
    margin: auto;
}

.create-account-form button {
    margin: 16px auto 0 auto;
    width: clamp(128px, 20%, 256px);
    border-radius: 32px;
    padding: 4px;
    border: none;
    outline: #19191c solid 1px;
}

.create-account-form button:hover:not(:disabled) {
    cursor: pointer;
    background-color: #d6d6da;
}

.create-account-form button:active:not(:disabled) {
    background-color: #bcbcc3;
    outline: #55555f solid 2px;
}

.create-account-form button:focus-visible {
    outline: #19191c solid 2px;
}

.create-account-form button:disabled {
    cursor: not-allowed;
    outline: #c5c5cc solid 2px;
}

.error {
    margin-top: 16px;
    padding: 8px;
    font-size: smaller;
    outline: #f80101 solid 2px;
}

.input-label-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.welcome {
    padding: 8px;
    margin: 16px auto 0 auto;
    background-color: #e3e3e6;
    border-radius: 32px;
    min-width: 256px;
    text-align: center;
}
